NEXT_PUBLIC_APP_URL=http://localhost:3000
NEXT_PUBLIC_PRIVY_APP_ID=
PRIVY_APP_ID=
PRIVY_APP_SECRET=
SUPABASE_URL=
SUPABASE_SERVICE_ROLE_KEY=
GIWA_CHAIN_ID=91342
GIWA_RPC_URL=
GIWA_EXPLORER_URL=
BYUS_PASSPORT_CONTRACT_ADDRESS=
BYUS_STAMP_CONTRACT_ADDRESS=
BYUS_RELAYER_ADDRESS=
